.puppy__bg__image {
    position: relative;
    width: 100%;
    height: 500px;
    object-fit: cover;
    /* mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.75) 100%); */
    z-index: -2;
}

.gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.75) 100%);
    z-index: -1;
}

.puppy__name {
    position: absolute;
    margin: 300px 0 0 150px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.puppy__description {
    position: absolute;
    margin: 350px 0 0 150px;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.puppy__birthday {
    position: absolute;
    margin: 370px 0 0 150px;
    font-size: 13px;
    color: rgb(255, 255, 255);
}

.puppy__age {
    position: absolute;
    margin: 385px 0 0 150px;
    font-size: 10px;
    color: rgb(255, 255, 255);
    font: bolder;
}

.back__to__litter__button {
    position: absolute;
    margin: 260px 0 0 150px;
}

.add__image__button {
    position: absolute;
    margin: 440px 0 0 150px;
}

.edit__puppy__button {
    position: absolute;
    margin: 410px 0 0 150px;
}

.button__edit__puppy {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

.button__edit__puppy:hover {
    color: rgb(180, 40, 46, 1);
}

.buttons__images__edit__del {
    display: flex;
    justify-content: center;
}

.button__images {
    color: rgb(180, 40, 46, 1);
    font-size: 10px;
    font-weight: bold;
    height: 20px;
    background-color: transparent;
    border: 1px rgb(180, 40, 46, 1) solid;
    border-radius: 5px;
    margin: 5px 5px;
}

.button__images:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(180, 40, 46, 1);
    border: 1px rgb(255, 255, 255) solid;
}

.delete__puppy__button {
    position: absolute;
    margin: 410px 0 0 250px;
}

.new__puppy__button {
    position: absolute;
    margin: 440px 0 0 150px;
}

.this__puppy__photos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 100px 0;
}

.new__puppies__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new__puppies__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 25px;
    font-weight: bold;
    /* color: white */
}
