.navigation__bar {
    height: 68px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
}

.navigation__bar__red {
    height: 68px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    background: rgb(180, 40, 46, 1);
}

.navigation__bar__litter {
    height: 68px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    background: rgb(255, 255, 255, 0.25);
}

.whelp__logo__white {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: auto;
}

.session__user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.session__user > li {
    list-style: none;
}

.review__navbar {
    padding: 0 25px;
    color: rgb(0, 0, 0)
}

.business__navbar {
    padding: 0 25px;
    color: rgb(0, 0, 0)
}

.menu__top__left {
    display: flex;
}

.buttons__space {
    padding: 0 10px;
}

.button__login {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

.all__buttons:hover {
 cursor: pointer;
}

.button__demo {
    color: white;
    font-weight: bold;
    background-color: rgb(255, 255, 255, 0.25);
    padding: 7px;
    border: white 1px solid;
    border-radius: 3px;
}

.button__signup {
    color: white;
    font-weight: bold;
    background-color: transparent;
    padding: 7px;
    border: white 1px solid;
    border-radius: 3px;
}

#search__form__navbar {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: rgb(255, 255, 255, 0.75);
}

.searchbar__navbar {
    width: 456px;
    height: 34px;
    border: none;
    padding: 0 15px;
    background: transparent;
}

.magnifier__search__button__navbar {
    width : 44px;
    height : 34px;
    background: rgb(180, 40, 46, 1);
    border: 1px rgb(180, 40, 46, 1) solid;
    border-radius: 5px;
}

.magnifier__search__button__navbar > img {
    width: 20px;
    height: auto;
}

.nav__bar__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
