.navigation__bar {
    /* top: 0; */
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    background-color:  rgb(255, 255, 255);
}

.session__user {
    display: flex;
    justify-content: center;
}

.session__user > li {
    list-style: none;
}

.review__navbar {
    padding: 0 25px;
    color: rgb(0, 0, 0)
}

.business__navbar {
    padding: 0 25px;
    color: rgb(0, 0, 0)
}

.menu__top__left {
    display: flex;
}
